<div class="main-container">
  <owl-carousel-o [options]="customOptions">
    @switch(carouselType){
    @case('homeData'){
    <ng-template carouselSlide *ngFor="let product of data">
      <app-card [product]="product"></app-card>
    </ng-template>
    }
   
    @case('exploreProducts'){
    <ng-template carouselSlide *ngFor="let products of exploreProductsdata">
      <!-- {{products.title}} -->
      <app-explore-product-card [product]="products"></app-explore-product-card>
    </ng-template>
    }
    @default {
    Default case.
    }

    }

  </owl-carousel-o>

</div>