<div class="container-outlet">
  <div class="box1">
    <p class="p1">category</p>
    <div class="title">
      <h1> Enhance Your Music Experience</h1>
    </div>
    <div class="time">
      <div class="days">
        <div>
          <h6 class="pp">23</h6>
          <h6 class="pp1-1">Days</h6>

        </div>
      </div>
      <div class="hours">
        <div>
          <h6 class="pp">23</h6>
          <h6 class="pp1-1">Hours</h6>

        </div>
      </div>
      <div class="Minutes">
        <div>
          <h6 class="pp">23</h6>
          <h6 class="pp1">Minutes</h6>

        </div>
      </div>
      <div class="second">
        <div>
          <h6 class="pp">23</h6>
          <h6 class="pp1">Seconds</h6>

        </div>
      </div>
    </div>
    <div class="btnn">
      <a href="">Buy Now!</a>
    </div>

  </div>
  <div class="box2">
    <div class="image">
      <img src="Ellipse 23.png" alt="">
      <img src="JBL_BOOMBOX_2_HERO_020_x1 (1) 1.png" alt=""  style="z-index: 5;">
    </div>


  </div>
</div>
