<footer class="footer">
  <div class="footer-container">

    <div class="footer-box">
      <div class="div-1">
           <div class="div-1-inner">
            <h1>Exclusive</h1>
            <h2>Subscribe</h2>
           </div>
           <p>Get 10% off your first order</p>
      </div>
      <div class="div-2">
        <p>Emter Your Email</p>
        <img src="icon-send.png" alt="" style="background-color: black;">
      </div>
    </div>
    <!-- <div class="footer-box">
      <h4>Box 1</h4>
      <p>Content for box 1.</p>
    </div>
    <div class="footer-box">
      <h4>Box 3</h4>
      <p>Content for box 3.</p>
    </div>
    <div class="footer-box">
      <h4>Box 4</h4>
      <p>Content for box 4.</p>
    </div>
    <div class="footer-box">
      <h4>Box 5</h4>
      <p>Content for box 5.</p>
    </div> -->
  </div>
  <div class="copyright">
    <p>&copy; Copyright Rimel 2022. All right reserved</p>
  </div>
</footer>
