@import '../../../styles.scss';
.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.head1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head1,.dropdown-btn{
    background-color: var(--color-black);
    color: var(--fontcolor-header);
    height: 48px;
}
.sale{
    
    font-weight: 400;
    font-size: 14px;
}

.dropdown-btn{
    border: 0;
}
.head1center{
    width: 100%;
    padding-left: 28.6%;
    padding-right: 9.44%;
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.head2{
    background-color: var( --backgroundcolor-header);
    // display: flex;
    width: 100%;
    height: 94px;
    align-items: center;
    // justify-content: center;
    border-bottom:.5px solid rgba(0, 0, 0, 0.3) ;
    
  
}

.head2center,.head2mid{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head2mid{
    flex-basis: 35.69%;
    // width: 367px;
    // flex-grow: 1;
    height: 24px;
    // display: block;
    // justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
}
.head2center{
    // width: 1170px;
    height: 38px;
    padding-left: 9.37%;
    padding-right: 9.37%;
    // margin-left: 8.78%;
    margin-top: 40px;
    // margin-bottom: 16px;
    
//for big screen 
// @media #{media-query-between-big-screen}{
    
// }
}
.head2end{
    display: flex;
    justify-content: space-between;
    flex-basis: 29.65%;
}
#exclusive{
    font-weight:var(--fontweight-bold);
    font-size: 24px;
    // margin-right: 28.14%;
    // position: relative;
    font-family: 'Inter', sans-serif;
    // background-color: aqua;
    //for big screen 
// @media #{media-query-between-big-screen}{
//     margin-right: 13.05%;
//     background-color: bisque;
// }
}
.nav-item {
    cursor: pointer; /* Change cursor to pointer for better UX */
    // padding: 5px; /* Optional: Add some padding */
    // width: 48px;
    // flex-grow: 1;
    
    height: 24px;
    // row-gap: 48px;
}

.active {
    text-decoration: underline;
    
    // background-color: blue;
}
.searchInput{
    background-color: var(--backgroundcolor-header-searchbackground);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 1.9%;
    padding-left: 5.2%;
    // flex-basis: 70%;
}
.searchbar{
    background-color: var(--backgroundcolor-header-searchbackground); 
    height: 38px; 
    border: 0;
}
.searchbar::placeholder{
    font-weight: 400;
    font-size: 12px;
}
.hamburger {
  display: none;
}
.searchbar:focus{
    border: 0;       
    outline: none;
}
.addList{
    display: flex;
    flex-grow: .5;
    align-items: center;
    justify-content: space-between;
}

#sidebar {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -900px; /* Below the navbar */
//   right: 00px; /* Hidden off-screen */
  background-color: var(--color-black);
  opacity: 80%;
  // background-color:aqua;
  color: var( --fontcolor-header);
  height: 93vh;
  padding: 20px;
  width: 30%;
  margin-top: 48px;
  transition: left 0.3s ease; /* Smooth transition */
}
#sidebar.active {
  top: 0; /* Slide in */
  right: 0;
}
#navItems{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#innerSidebar{
    width: 100%;
  height: 50%;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;

}

@media (max-width: 860px) {
    #exclusive{
        margin-right: 10.05%;
    }
    .head1center{
        padding-left: 18%;
    }
    .searchInput{
        flex-basis: 50%;
        // width: 30%;
    }
    .head2mid{
      display: none;
    }
    .head2end{
      flex-basis: 70%;
    }
    .searchInput{
      // flex-basis: 80%;
      margin-right: 20%;
    }
/* Hamburger icon styling */
.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;

  span {
    width: 20px;
    height: 2px;
    background-color: var(--color-black);
    margin: 4px 0;
    transition: 0.3s;
  }
}

}
 
@media (max-width: 1080px){
   .head1center{
    padding-left: 10%;
   }
//    .head2mid,.sidebar,.innerSidebar{
//     display: flex;
//    }
     
}
