@import "../../mixsin.scss";
@import "../../../styles.scss";
.con {
  // @include flex-ce
  padding: 4% 9.4% 0% 9.4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  height: auto;

  .main-outer {
    width: 100%;
    height: 517px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // flex-wrap: wrap;
    flex-direction: column;
    // gap: 30px;

    .heading {
      width: 100%;
      height: 56px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      div {
        height: 100%;
        width: 223px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.5);
      }
    }

    .item {
      width: 100%;
      height: 438px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  .main-outer2 {
    width: 100%;
    height: 517px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    gap: 60px;
    // flex-wrap: wrap;
    .heading-2 {
      width: 100%;
      height: 56px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title {
        width: 156px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
       border: none;
      }
      div {
        width: 156px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.5);
      }
    }
    .item {
      width: 100%;
      height: 466px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 1354px) and (min-width: 744px) {
  .con {
    height: 840px;
    margin-bottom: 47px;
  }
}
@media (max-width: 744px) and (min-width: 681px) {
  .con {
    height: 840px;
    margin-bottom: 47px;

    .main-outer {
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      .heading {
        // width: 100%;
        // height: 56px;
        // display: flex;
        // justify-content: space-between;
        // align-items: center;

        div {
          height: 100%;
          width: 152px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid rgba(0, 0, 0, 0.5);
        }
        .item {
          width: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;
        }
      }
    }
  }
}

@media (max-width: 681px) and (min-width: 350px) {
  .con {
    height: 1600px;

    .main-outer {
      .heading {
        div {
          height: 100%;
          width: 152px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid rgba(0, 0, 0, 0.5);
        }
      }
      .item {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    }

    .main-outer2 {
      .heading-2 {


          .title {


            p{
              font-size: 17px;
            }
          }


        div {
          width: 85px;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid rgba(0, 0, 0, 0.5);
        }
      }
      .item {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    }
  }
}



