<div class="con">
  @switch(boxType){
  @case('type1'){
  <div class="main-outer">
    <div class="heading">
      <p>WishList({{wishListProducts.length}})</p>
      <div>Move ALl To Back</div>
    </div>
    <div class="item">
      <div *ngFor="let product of wishListProducts">
        <app-wish-list-box [product]="product"></app-wish-list-box>
      </div>
    </div>
  </div>
  }

  @case('type2'){
  <div class="main-outer2">
    <div class="heading-2">
      <!-- <app-secondary-header [salesData]="justForYou"></app-secondary-header> -->
      <div class="title">
        <div class="line" style="width: 24px;
        height: 100%;

        background-color: red;
        border-radius: 5px;
      border: none;
        "></div>
        <p  style="padding-top: 11px;

        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        text-align: center;
        ">Just For You</p>
      </div>
      <div>See All</div>
    </div>
    <div class="item">
      <div *ngFor="let product of wishListProducts">
        <app-wish-list-box2 [product]="product"></app-wish-list-box2>
      </div>
    </div>
  </div>
  }
  }
</div>
