.outer-container{
    height: 24.305%;
        width: 17.361%;
    .item{
        display: flex;
        justify-content: space-between;
        
        height: 100%;
        width: 100%;
        // padding: 16px;
        background: rgba(245, 245, 245, 1);
        .item-left{
            width: 55px;
            height: 26px;
            top:12px;
            left: 12px;
            border-radius: 4px;
            padding: 4px 12px 4px 12px ;
            background: rgba(219, 68, 68, 1);

        }  
    }
    .item-content{
        .title{
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            color: rgba(0, 0, 0, 1);

        }
        .price{
            color: rgba(219, 68, 68, 1);
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
        }
        .rating{
            .star{
                img{
                    width: 20px;
                    height: 20px;
                
                }
            }
        }
    }
}
