<div class="side-bar">
    <div style="background: #ffffff; ">
    <div class="hamburger" (click)="toggleMenu()">
        <i class="fa-solid fa-bars" style="font-size: 20px;"></i>
    </div>
    <ul [ngClass]="{ 'active': isMenuOpen }">
        <li>Woman’s Fashion <span><i class="fa-solid fa-chevron-right"></i></span></li>
        <li>Men’s Fashion <span><i class="fa-solid fa-chevron-right"></i></span></li>
        <li>Electronics</li>
        <li>Home & Lifestyle</li>
        <li>Medicine</li>
        <li>Sports & Outdoor</li>
        <li>Baby’s & Toys</li>
        <li>Groceries & Pets</li>
        <li>Health & Beauty</li>
    </ul>
    </div>
</div>
