@import "./mixsin.scss";

.contain{
  padding: 0;
  width: 100% !important;
  background-color: var(--color-black);
  margin: 0;
  // @include flex-center;
}
.header{
  background-color: var(--color-black);
  width: 100%;
}