@import "../../mixsin.scss";
@import "../../../styles.scss";

.outer-container {
width: 100vw;
padding: $core-padding;
@include flex-center;
.outer-container-left {
  width: 16.2%;
  padding: 40px 16px 0px 0px;
  height: 344px !important;
  .side-bar {
    width: 100%;
    height: 100%;
    
    ul {
      display: flex;
      flex-direction: column;
     justify-content: space-between;
     margin-bottom: 0px;
     height: 100%;
     padding-left: 0px;
      li {
        @include flex-space-between;
        list-style: none;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        align-items: center;
        text-wrap: nowrap;
        span {
          height: 7px;
          @include flex-center;
        }
      }
    }
  }
}
.outer-container-right {
  width: calc(100% - 16.2%);
  padding: 40px 0px 0px 45px;
  height: 344px !important;
  border-left: 0.5px solid rgba(0, 0, 0, 0.1);

  .carol {
    width: 100%;
    height: 100%;
    
  }
}
}
.carousel-item:nth-child(1) {
background-color: $color-tertiary; /* Blue */
//   height: 50vh; /* Ensure full height */
color: $color-quinary; /* Text color */
}

.carousel-item:nth-child(2) {
  background-color: $color-tertiary;
//   height: 50vh;
color: white;
}

.carousel-item:nth-child(3) {
  background-color: $color-tertiary;
//   height: 50vh;
color: white;
}

/* Ensure the carousel caption is visible */
.carousel-caption {
  position:relative;
//   bottom: 20%;
top: 0%;
bottom: 0%;
  left: 0%;
  right: 0%;
}
.carousel-inner {
position: relative;
width: 100%;
height: 100%;
overflow: hidden;
}
.carousel-indicators button {
width: 12px; /* Set the width and height to make it round */
height: 12px;
border-radius: 50%; /* This makes the button a circle */
background-color: #ccc; /* Default color for inactive dots */
border: none; /* Remove any border */
}

.carousel-indicators .active {
background-color: #333; /* Color for the active dot */
}
