@import "../../mixsin.scss";
@import "../../../styles.scss";

.carol {
  width: 100%;
  height: 100%;
  padding-top: 38px;
}
#carouselExampleCaptions{
    height: auto;
}
.carouser-container{
    padding-right: 5rem;
                  padding-left: 5rem;
                  .carouser-container-left{
                    font-size: 40px; width: 50%;
                    h6{
                        display:flex; align-items: center; justify-content: start;
                    }
                    span{
                        display:flex; align-items: center; justify-content: start; text-align: left; font-family: 'Inter', sans-serif; line-height: 60px; letter-spacing: 6%; font-weight: 600;
                    }
                        }
}
.px{
    padding-left: 0px;padding-right: 0px;
}
.carousel-item:nth-child(1) {
  background-color: $color-tertiary; /* Blue */
  //   height: 50vh; /* Ensure full height */
  color: $color-quinary; /* Text color */
}

.carousel-item:nth-child(2) {
  background-color: $color-tertiary;
  //   height: 50vh;
  color: white;
}

.carousel-item:nth-child(3) {
  background-color: $color-tertiary;
  //   height: 50vh;
  color: white;
}

/* Ensure the carousel caption is visible */
.carousel-caption {
  position: relative;
  //   bottom: 20%;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}
.carousel-inner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.carousel-indicators button {
  width: 12px; /* Set the width and height to make it round */
  height: 12px;
  border-radius: 50%; /* This makes the button a circle */
  background-color: #ccc; /* Default color for inactive dots */
  border: none; /* Remove any border */
}

.carousel-indicators .active {
  background-color: #333; /* Color for the active dot */
}

@media (max-width: 800px){
.carouser-container{
    padding-left: 2rem;
    padding-right: 2rem;
    .carouser-container-left{
font-size: 14px;
// span{
//     display:flex; text-align: left; font-family: 'Inter', sans-serif; line-height: 60px; letter-spacing: 6%; font-weight: 600; ;
// }
    }
}
.carousel-item{
    height: 100%;
}
}

@media (max-width: 1200px) {
    .carol {
        width: 100%;
        height: 100%;
        padding-top: 38px;
      }
}
