
        <div class="carol">
          <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button *ngFor="let item of carouselItems; let i = index"
                      type="button" 
                      [attr.data-bs-target]="'#carouselExampleCaptions'"
                      [attr.data-bs-slide-to]="i" 
                      [class.active]="i === 0"
                      [attr.aria-current]="i === 0 ? 'true' : null"
                      [attr.aria-label]="'Slide ' + (i + 1)">
              </button>
            </div>
            <div class="carousel-inner">
              <div *ngFor="let item of carouselItems; let i = index" 
                   class="carousel-item" 
                   [ngClass]="{'active': i === 0}">
                <div class="carousel-caption d-md-block">
                  <div class="carouser-container d-flex justify-content-around align-items-center" >
                    <div class="carouser-container-left">
                      <h6 style="text-align: left;">
                        <span><img [src]="item.icon" alt="icon" style="margin-right: 10px;"></span> 
                        {{ item.title }}
                      </h6>
                      <span>
                        {{ item.description }}
                      </span>
                      <h6 style="text-align: left; text-decoration: underline;">
                        {{ item.shopNowText }} <span><img [src]="item.buttonIcon" alt="button-icon"></span>
                      </h6>
                    </div>
                    <div class="carouser-container-right" style="width: 50%; height: 200px;" [ngStyle]="{'background-image': 'url(' + item.image + ')', 'background-size': 'contain', 'background-position': 'center', 'background-repeat': 'no-repeat', }">
                      <!-- <img [src]="item.image" alt="carousel-image" style="width: 100%;"> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button> -->
          </div>
        </div>
   