<div class="breadcrumb d-flex">
  <div style="width:50%; padding: 60px 0px 60px 0px;"><app-breadcrumb></app-breadcrumb></div>
  <div style="width:50%; padding: 60px 0px 60px 0px; display: flex; justify-content: end;">
    Welcome!<p>{{ this.users[0].name }}</p>
  </div>
</div>

<!-- Hamburger Menu Button -->


<div class="outer-container" style="display:flex; width: 100%;">
  <button class="hamburger" (click)="toggleSidebar()" style="color: black; position: relative; background-color: transparent; width: 50px;" >☰</button>
  <div class="outer-container-left" [class.show-sidebar]="isSidebarVisible">
    <div class="my-account">
      <div class="my-account-title" style="font-weight: 500; font-size: 16px; line-height: 24px;">Manage My Account</div>
      <div class="my-account-contents" style="display: flex; flex-direction: column; padding-left: 35px;">
        <span routerLink="myProfile" routerLinkActive="active">My Profile</span>
        <span routerLink="myAddressBook" routerLinkActive="active">Address Book</span>
        <span routerLink="myPaymentOptions" routerLinkActive="active">My Payment Options</span>
      </div>
    </div>
    <div class="my-order">
      <div class="my-order-title" style="font-weight: 500; font-size: 16px; line-height: 24px;">My Orders</div>
      <div class="my-order-contents" style="display: flex; flex-direction: column; padding-left: 35px;">
        <span routerLink="myReturns" routerLinkActive="active">My Returns</span>
        <span routerLink="myCancellations" routerLinkActive="active">My Cancellations</span>
      </div>
    </div>
    <div class="my-wishlist">
      <div class="my-wishlist-title" style="font-weight: 500; font-size: 16px; line-height: 24px;">My WishList</div>
    </div>
  </div>
  
  <div class="outer-container-right" style="display: flex; flex-direction: column; width: 70%; padding: 30px;">
    <router-outlet></router-outlet>
  </div>
</div>
