<div>
  <app-banner></app-banner>
</div>

<app-secondary-header [salesData]="salesData"></app-secondary-header>
<div class="mt-3">
  <app-carousel
    [data]="products"
    [carouselType]="'homeData'"
    [customOptions]="productCustomOption"
  ></app-carousel>
</div>

<!-- <div class="mt-3">
  <app-carousel
    [data]="products"
    [carouselType]="'homeData'"
    [customOptions]="productCustomOption"
  ></app-carousel>
</div> -->

<!-- <div class="mt-3">
  <app-carousel
    [data]="fruits"
    [carouselType]="'nav'"
    [customOptions]="navCustomOption"
  ></app-carousel>
</div> -->


<app-secondary-header [salesData]="newArrival" [showCarouselButton]="false"></app-secondary-header>


<div class="adds" style="display: flex; justify-content: space-between">
  <div
    class="container-left"
   
  >
  <div
          [ngStyle]="{'background-image': 'url(playkit.png)', 'background-size': 'contain', 'background-position': 'center', 'background-repeat': 'no-repeat', }"
          style="display: flex; align-items: end; width: 100%; height: 100%"
        >
    <div
      class="product-details"
      style="padding-left: 46px;
    padding-bottom: 30px;"
    >
      <h4>PlayStation 5</h4>
      <p>Black and White version of the PS5 coming out on sale.</p>
      <button>Shop Now</button>
    </div>
    </div>
  </div>
  <div
    class="container-right"
    
  >
    <div
      class="container-right-top"
      style="
        width: 100%;
        height: 288px;
        background: rgba(13, 13, 13, 1);
        /* display: flex; */
        /* align-items: end; */
        /* z-index: -2; */
        padding: 0px 0px 30px 30px;
      "
      
    >

    <div
          [ngStyle]="{'background-image': 'url(women-collection.png)', 'background-size': 'contain', 'background-position': 'center', 'background-repeat': 'no-repeat', }"
          style="display: flex; align-items: end; width: 100%; height: 100%"
        >
    

      <div class="product-details">
        <h4>Women’s Collections</h4>
        <p>Featured woman collections that give you another vibe.</p>
        <button>Shop Now</button>
      </div>
      </div>
    </div>
    <div
      class="container-right-buttom"
      style="
        display: flex;
        width: 100%;
        height: 288px;
        justify-content: space-between;
      "
    >
      <div
        class="continer-right-buttom-left"
        
      >
      <div
          [ngStyle]="{'background-image': 'url(speaker.png)', 'background-size': 'contain', 'background-position': 'center', 'background-repeat': 'no-repeat', }"
          style="display: flex; align-items: end; width: 100%; height: 100%"
        >
        <div class="product-details">
          <h4>Speakers</h4>
          <p>Amazon wireless speakers</p>
          <button>Shop Now</button>
        </div>
        </div>
      </div>
      <div
        class="continer-right-buttom-right"
        
      >
        <div
          [ngStyle]="{'background-image': 'url(gucci.png)', 'background-size': 'contain', 'background-position': 'center', 'background-repeat': 'no-repeat', }"
          style="display: flex; align-items: end; width: 100%; height: 100%"
        >
          <div class="product-details">
            <h4>Perfume</h4>
            <p>GUCCI INTENSE OUD EDP</p>
            <button>Shop Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
