@import "../../mixsin.scss";
@import "../../../styles.scss";

.flash-sale {
  padding: $core-padding;
  .sub-flash-sale {
    width: 47%;
    height: 100%;
    .container-left {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .top {
        width: 100px;
        height: 40px;
        .empty-div {
          background-color: $color-primary;
          width: 20px;
          height: 40px;
          border-radius: 4px;
        }
        .sale {
          display: flex;
          align-items: center;
          font-size: 16px;
          font-weight: 600;
          line-height: 20px;
          font-family: poppins;
          color: $color-primary;
        }
      }
      .buttom {
        height: 48px;
        font-size: 36px;
        font-weight: 600;
        font-family: inter;
      }
    }
    .container-right {
      width: 302px;
      height: 50px;
      gap: 16px;
      .title {
        font-size: 12px;
        font-weight: 500px;
        line-height: 18px;
      }
      .duration {
        font-weight: 700;
        font-family: inter;
        font-size: 32px;
        line-height: 30px;
        height: 28px;
      }
      .colone {
        font-size: 28px;
        width: 4px;
        margin-top: 9px;
        color: $color-primary;
      }
    }
  }
}
.adds{
    display:flex; width:100%; padding: $core-padding;
    color: rgba(250, 250, 250, 1);
    margin-top: 45px;
    .product-details{
padding-left: 15px;
padding-bottom: 15px;
width: 275px;

    }
    h4{
        font-size: 24px;
        font-weight: 600;
    }
    p{
        font-size: 14px;
        font-weight: 400;
    }
    button{
        font-size: 16px;
        font-weight: 500;
        background: transparent;
        color: #ffffff;
        text-decoration: underline;
        border: none;
    }
}




//browser by categories scss
.category{
  // padding: $core-padding;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .box1 {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0 107px 0 146px;
    .box-1-inner {
      display: flex;
      flex-direction: column;
      gap: 16px;
      h1 {
        //styleName: Heading/36PX SemiBold;
        font-family: Inter;
        font-size: 36px;
        font-weight: 600;
        line-height: 48px;
        letter-spacing: 0.04em;
        text-align: left;
        color: rgba(0, 0, 0, 1);
      }
      .box-1-inner-in {
        width: 126px;
        height: 40px;
        gap: 16px;

        display: flex;
        align-items: center;

        div {
          width: 20px;
          height: 40px;
          background-color: rgba(219, 68, 68, 1);
        }
        p {
          font-size: 16px;
          font-weight: 600;
          line-height: 20px;
          // text-align: left;
          padding-top: 11px;
          color: rgba(219, 68, 68, 1);
        }
      }
    }
    .box-2-inner {
      display: flex;
      width: 100px;
      height: 46px;
      gap: 8px;
      padding-top: 20px;
      img {
        width: 32px;
        height: 32px;
        border: 1px solid red;
        border-radius: 50%;
        padding: 5px 4px 5px 4px;
      }
    }
  }
}
