@import "../../mixsin.scss";
@import "../../../styles.scss";
.flash-sale {
  padding: $core-padding;
  .sub-flash-sale {
    width: 47%;
    .container-left {
      .top {
        width: 100px;
        height: 40px;
        .empty-div{
            background-color: $color-primary;
            width: 20px;
            height: 40px;
            border-radius: 4px;
        }
        .sale {
          display: flex;
          align-items: center;
          font-size: 16px;
          font-weight: 600;
          line-height: 20px;
          font-family: poppins;
          color: $color-primary;
        }
      }
      .buttom {
        height: 48px;
        font-size: 36px;
        font-weight: 600;
        font-family: inter;
      }
    }
    .container-right{
        width: 302px; height: 50px; gap: 16px;
        .title{
            font-size: 12px; font-weight: 500px; line-height: 18px
        }
        .duration{
            font-weight: 700;
            font-family: inter;
            font-size: 32px;
            line-height: 30px;
            height: 28px;
        }
        .colone{
            font-size: 28px;
          width: 4px;
          margin-top: 9px;
          color: $color-primary;
        }
    }
  }
}
