<footer class="footer">
  <div class="footer-con">

    <div class="Box">
      <div class="div-1">
        <div class="div-1-inner">
          <h2>Exclusive</h2>
          <h3>Subscribe</h3>
        </div>
        <p>Get 10% off your first order</p>
      </div>
      <div class="div-2">
        <p>Emter Your Email</p>
        <img src="icon-send.png" alt="" style="background-color: black;">
      </div>
    </div>
    <div class="Box-1">

      <h2> Support</h2>
      <div class="box-1-inner">
        <p>111 Bijoy sarani, Dhaka, DH 1515, Bangladesh.</p>
        <p>exclusive&#64;gmail.com</p>
        <p>+88015-88888-9999</p>

      </div>
    </div>
    <div class="Box-2">
      <h2>Account</h2>
      <div class="box-2-inner">
        <p>My account</p>
        <p>Login/Register</p>
        <p>Cart</p>
        <p>Wishlist</p>
        <p>Shop</p>
      </div>
    </div>
    <div class="Box-3">
      <h2>Quick Link</h2>

      <div class="box-3-inner">
        <p>Privacy Police</p>
        <p>Terms of Use</p>
        <p>FAQ</p>
        <p>Contact</p>
      </div>
    </div>
    <div class="Box-4">
      <div class="box-4-first">
        <h2>Download App</h2>
        <div class="first-inner">
          <p>Save $3 with App New User Only</p>
          <div class="images">
            <img src="Qr Code.svg" alt="">
            <div class="store">
              <img src="google-play.svg" alt="">
              <img src="download-appstore.svg" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="box-4-second">
        <img src="Icon-Facebook.svg" alt="">
        <img src="Icon-Twitter.svg" alt="">
        <img src="icon-instagram.svg" alt="">
        <img src="Icon-Linkedin.svg" alt="">
      </div>
    </div>

  </div>
  <div class="copyright">
    <p>&copy; Copyright Rimel 2022. All right reserved</p>
  </div>
</footer>
