<div class="outer-container">
    <div class="item">
        <div class="item-left">-40%</div>
        <div class="item-right d-flex flex-column">
            <img src="heart.png" alt="" style="width: 160x;height: 14px;">
            <img src="eye.png" alt="" style="width: 160x;height: 14px;">
        </div>
        <img src="joystick.png" alt="" style="position: absolute; z-index: 5; width: 172px; height: 152px; padding: 17px;">
    </div>
    <div class="item-content">
        <div class="title">HAVIT HV-G92 Gamepad</div>
        <div class="price">$120</div>
        <div class="rating">
            <div class="stars"><img src="star.png" alt=""></div>
            <div class="num"></div>
        </div>
    </div>
</div>